// コンテナの最大幅
$contentMaxWidth: 1200px;

// ヘッダーの高さ
$navHeight: 8vh;

// ページで用いる配色設定
$cWhite: rgba(255, 255, 255, 0.7);
$cBlack: #2A2A2A;
$cBgGray: #F4F4F4;
$cBgDarkGray: #999999;
$cBgYellow: #F8F4E7;
$cCover: rgba(63, 63, 63, 0.5);

// ヘッダー両脇の余白の大きさ
$headerPd: 20px;
